<form action="/users" method="post" align='center'>
  <br>
  <br>
  <label for="email">Email:</label>
  <input type="email" name="email" required="required">
  <br>
  <label for="name">Name:</label>
  <input type="text" name="name" required="required">
  <br>
  <label for="pasword">Password:</label>
  <input type="password" name="password">
  <br>
  <label for="password_confirmation">Confirm password:</label>
  <input type="password" name="password_confirmation">
  <br>
  <input type="submit" value="Sign Up">
</form>
