<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
  </head>
  <body>
    Select dates:
    <form action="/bookings/confirm" method="POST">
      <input type="text" name="check-in" required="required"><br>
      <input type="submit" value="Send Request">
    </form>
  </body>
</html>
