<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
  </head>
  <body>
    <h1>MakersBnb</h1>
    <br>
    <% if !current_user %>
      <form action='/sessions/new' method='get'>
        <input type='submit' value='Sign In'>
      </form>
      <form action='/users/new' method='get'>
        <input type='submit' value='Sign Up'>
      </form>
    <% end %>
    <% if current_user %>
    <form action="/newlisting">
      <input type="submit" value="Create new listing">
    </form>
    <% end %>

    <br>
    <h2>List of properties</h2>
    <br>
    <ul id='places'>
      <%@places.each do |place| %>
        <li> Title: <a href='/places/<%=place.id%>'><%= place.title %></a><br>
          Address: <%= place.address %> <br>
          Price: £ <%= place.price %> <br>
        </li><br>
      <%end%>
    </ul>
  </body>
</html>
