<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MakersBnb</title>
  </head>
  <body>
    <h1>MakersBnb</h1>
    <br>
  <form action="/newlisting">
    <input type="submit" value="Create new listing">
  </form>
    <br>
    <h2>List of properties</h2>
    <br>
    <ul id='places'>
      <%@places.each do |place| %>
        <li> Title: <%= place.title %> <br>
          Address: <%= place.address %> <br>
          Price: £ <%= place.price %> <br>
          Description: <%= place.description%>
        </li><br>
      <%end%>
    </ul>
  </body>
</html>
